@media (max-width:1438px){
	.container{
		max-width: 1438px;
	}
}
@media (max-width:1201px){
	.container{
		max-width: 1201px;
	}
}
@media (max-width:992px){
	.container{
		max-width: 992px;
	}
}
@media (max-width:768px){
	.parallax_2{
		height: 80em;
	}
	h1 {
		font-size: 300% !important;
	}
	h4 {
		font-size: 100% !important;
	}
	h1,h4{
		letter-spacing: 2px !important;
	}
	
}
@media (max-width:415px){
	.container{
		max-width: 415px;
	}
	h1 {
		margin:0px auto;
		font-size: 300% !important;
		width: 96% !important;
	}
	h4 {
		font-size: 117% !important;
		width: 96% !important;
	}
	h1,h4{
		letter-spacing: 2px !important;
	}
	.parallax_1{
		background: url('fotor1_2na3.jpg');
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		height: 896px;
	}
	.parallax_2{
		height: 145em;
	}
	.parallax_2 h1{
		width:60% !important;
	}
	.content_1, .content_2{
		padding: 30px 0px;
	}
	.content_1 p, .content_2 p{
		font-size: 100% !important;
		width: 80%;
	}
}
@media (max-width:320px){
	.container{
		max-width: 320px;
	}
	h1 {
		margin:0px auto;
		font-size: 240% !important;
		width: 96% !important;
	}
	h4 {
		font-size: 82% !important;
		width: 96% !important;
	}
	h1,h4{
		letter-spacing: 2px !important;
	}
	.parallax_1{
		background: url('fotor1_2na3.jpg');
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		max-height: 650px;
	}
}

