@media (max-width:1438px){
	.container{
		max-width: 1438px;
	}
}
@media (max-width:1201px){
	.container{
		max-width: 1201px;
	}
}
@media (max-width:992px){
	.container{
		max-width: 992px;
	}
}
@media (max-width:415px){
	.container{
		max-width: 415px;
	}
	h1 {
		margin:0px auto;
		font-size: 300% !important;
		width: 96% !important;
	}
	h4 {
		font-size: 117% !important;
		width: 96% !important;
	}
	h1,h4{
		letter-spacing: 2px !important;
	}
	.parallax_1{
		background: url('fotor1_2na3.jpg');
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		height: 896px;
	}
}
@media (max-width:320px){
	.container{
		max-width: 320px;
	}
	h1 {
		margin:0px auto;
		font-size: 240% !important;
		width: 96% !important;
	}
	h4 {
		font-size: 82% !important;
		width: 96% !important;
	}
	h1,h4{
		letter-spacing: 2px !important;
	}
	.parallax_1{
		background: url('fotor1_2na3.jpg');
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
	}
}